<table class="table table-borderless" id="table-class-information">
    <tbody>
        <tr>
            <th scope="row">Day:</th>
            <td><%= startDay %></td>
        </tr>
        <tr>
            <th scope="row">Time:</th>
            <td><%= startTime %></td>
        </tr>
        <tr>
            <th scope="row">Mode:</th>
            <td><%= item.mode %></td>
            <td>Location: <%= item.location %></td>
        </tr>
        <tr>
            <th scope="row">Genre:</th>
            <td><%= item.genreOfExercise %></td>
        </tr>
        <tr>
            <th scope="row">Type:</th>
            <td><%= item.typeOfExercise %></td>
        </tr>
        <tr>
            <th scope="row">Price:</th>
            <td>$<%= item.price %></td>
        </tr>
        <tr>
            <th scope="row">Details:</th>
            <td style="width: 10rem;" colspan="2"><%= item.details %></td>
        </tr>
        <tr>
            <td></td>
            <td><img src="<%= item.image %>" alt="Class image" width=100px height="100px"/></td>
        </tr>
        <tr>
            <th scope="row">Contact:</th>
            <td><%= item.contact %> </td>
            <td><%= item.email %></td>
        </tr>
        <tr>
            <th scope="row">Target Group:</th>
            <td><%= item.minAge %> to <%= item.maxAge %> yrs old</td>
            <td>Gender: <%= item.gender %></td>
        </tr>
    </tbody>
</table>