<%- include('./partials/header-2') %>

<div class="banner">
    <h3><i>EDIT CLASS</i></h3>
    <a href="/classes/<%= item.slug %>/<%= item._id %>" class="btn btn-primary">Back to Class</a>
</div>


<%- include('./partials/class-edit') %>

<form method="POST" action="/classes/<%= item.slug %>/<%= item._id %>?_method=DELETE">
    <button type="submit" class="btn btn-danger">Delete</button>
</form>

<%- include('./partials/footer') %>