<%- include('../partials/header-2') %>

<div class="banner">
    <div>
        <h3><i>EDIT YOUR CLASS</i></h3>
        <div class="mt-3 mb-3" style="float: right;">
            <form method="POST" action="/classes/<%= item.slug %>/<%= item._id %>?_method=DELETE">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </div>
    </div>
    
</div>


<%- include('../partials/class-edit') %>

<%- include('../partials/footer') %>