<%- include('../partials/header') %>

<%- include('../partials/search-bar') %>

<div class="classes-section">
    <div class="display-classes">  
        <h1>Classes on: <%= day %></h1>
        <div class="container">
                <div class="row">
                    <% if (searchFilter.length !== 0) { %>

                        <% searchFilter.forEach((element, index) => { %>

                            <% let startDate = moment(element.startDateTime).format('ddd DD MMM YYYY') %>
                            <% let startTime = moment(element.startDateTime).format('h:mm a') %>

                            <div class="col-sm-3">
                                <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title"><%= element.nameOfClass %></h5>
                                    <p class="card-text">Start Date: <%= startDate %></p>
                                    <p class="card-text">Time: <%= startTime%></p>
                                    <a href="/classes/<%= element.slug %>/<%= element._id %>" class="btn btn-primary">More info</a>
                                </div>
                                </div>
                            </div>

                        <% }) %>

                    <% } else { %>
                        <p>No classes available</p>
                    <% } %>
                </div>
        </div>
    </div>
</div>

<%- include('../partials/footer') %>