<%- include('../partials/header') %>

<div class="banner">
    <h3><%= item.nameOfClass %></h3>

    <div class="banner-info">
        <table class="table table-borderless" id="show-table">
            <tbody>
                <tr>
                <th scope="row">Organiser:</th>
                <td><%= item.orgName %></td>
                </tr>
                <tr>
                    <th scope="row">Starting Date:</th>
                    <td><%= item.startDate %></td>
                </tr>
                <tr>
                    <th scope="row">No. of sessions:</th>
                    <td><%= item.noOfSessions %></td>
                </tr>
                <tr>
                    <th scope="row">Capacity:</th>
                    <td>10/<%= item.capacity %></td>
                </tr>
            </tbody>
        </table>

        <div>

            <% if (user)  { %>

            <form method="POST" action="/classes/<%= item.slug %>/<%= item._id %>/booking">
                <button type="submit" class="btn btn-primary">Book Now!</button>
            </form>

            <a href="/classes/<%= item.slug %>/<%= item._id %>/edit" class="btn btn-primary">Edit Class</a>


            <% } else { %>
                <form method="GET" action="/users/login">
                    <button type="submit" class="btn btn-primary">Login to Book</button>
                </form>
            <% } %>

        </div>

    </div>

</div>

<div class="class-information">

    <h4><i>Class Information</i></h4>
    <%- include('../partials/class-information') %>

</div>

<%- include('../partials/footer') %>